
/* ================= */
/* SVG ICONS */
/* ================= */

.icon {
    display:inline;
    width:1.1em;
    height:1.1em;
    vertical-align:middle;
    margin-top:-3px;
    fill:currentColor;
    stroke:currentColor;
}